-- Check the full user status including subscription
SELECT 
  u.email,
  u.created_at as user_created,
  sp.name as plan_name,
  sp.credits_per_month as plan_credits,
  us.status as subscription_status,
  us.trial_end,
  us.is_first_trial,
  us.created_at as subscription_created,
  uc.total_credits,
  uc.used_credits,
  uc.created_at as credits_created,
  up.has_used_trial,
  up.trial_started_at,
  up.created_at as profile_created
FROM auth.users u
LEFT JOIN public.user_subscriptions us ON u.id = us.user_id
LEFT JOIN public.subscription_plans sp ON us.plan_id = sp.id
LEFT JOIN public.user_credits uc ON u.id = uc.user_id
LEFT JOIN public.user_profiles up ON u.id = up.user_id
WHERE u.email = 'greececycladesgr@gmail.com'
ORDER BY us.created_at DESC, uc.created_at DESC, up.created_at DESC
LIMIT 5;
