-- Check if Launch plan exists and is active
SELECT id, name, credits_per_month, is_active, sort_order 
FROM subscription_plans 
WHERE name = 'Launch';

-- Check if the handle_new_user function can find the Launch plan
SELECT 
  sp.id, 
  sp.name, 
  sp.credits_per_month,
  sp.is_active
FROM subscription_plans sp
WHERE sp.name = 'Launch' AND sp.is_active = true;

-- Test the exact query the function uses
SELECT id INTO temp_plan_id
FROM subscription_plans
WHERE name = 'Launch' AND is_active = true
LIMIT 1;
