-- Check what the current user got assigned
SELECT 
  u.email,
  sp.name as plan_name,
  sp.credits_per_month,
  us.status,
  us.trial_end,
  us.is_first_trial,
  uc.total_credits,
  uc.used_credits
FROM auth.users u
LEFT JOIN public.user_subscriptions us ON u.id = us.user_id
LEFT JOIN public.subscription_plans sp ON us.plan_id = sp.id
LEFT JOIN public.user_credits uc ON u.id = uc.user_id
WHERE u.email = 'greececycladesgr@gmail.com'
ORDER BY us.created_at DESC
LIMIT 1;

-- Check if user has used trial before
SELECT 
  u.email,
  up.has_used_trial,
  up.trial_started_at
FROM auth.users u
LEFT JOIN public.user_profiles up ON u.id = up.user_id
WHERE u.email = 'greececycladesgr@gmail.com';
