-- Check if user exists and their current status
SELECT 
  u.id,
  u.email,
  u.created_at,
  up.full_name,
  up.has_used_trial,
  us.status as subscription_status,
  us.trial_end,
  uc.total_credits,
  uc.used_credits
FROM auth.users u
LEFT JOIN public.user_profiles up ON u.id = up.user_id
LEFT JOIN public.user_subscriptions us ON u.id = us.user_id
LEFT JOIN public.user_credits uc ON u.id = uc.user_id
WHERE u.email = 'greececycladesgr@gmail.com'
ORDER BY u.created_at DESC
LIMIT 1;
