-- Check trigger status
SELECT 
  trigger_name,
  event_object_table,
  event_manipulation,
  action_statement,
  action_timing
FROM information_schema.triggers 
WHERE trigger_name = 'on_auth_user_created';

-- If trigger is missing, recreate it
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_new_user();

-- Verify trigger was created
SELECT 
  'TRIGGER_CREATED' as status,
  trigger_name,
  event_object_table,
  action_statement
FROM information_schema.triggers 
WHERE trigger_name = 'on_auth_user_created';

-- Test function can access plans
SELECT 
  'FUNCTION_CAN_ACCESS' as test,
  sp.name as plan_name,
  sp.credits_per_month,
  'Should work automatically' as expected_result
FROM subscription_plans sp
WHERE sp.name IN ('Launch', 'Free') AND sp.is_active = true
ORDER BY sp.name;
