-- Create missing credit_usage_log table
CREATE TABLE IF NOT EXISTS public.credit_usage_log (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  feature TEXT NOT NULL,
  credits_used INTEGER NOT NULL DEFAULT 1,
  project_id UUID,
  metadata JSONB DEFAULT '{}',
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_credit_usage_log_user_id ON public.credit_usage_log(user_id);
CREATE INDEX IF NOT EXISTS idx_credit_usage_log_created_at ON public.credit_usage_log(created_at);
CREATE INDEX IF NOT EXISTS idx_credit_usage_log_feature ON public.credit_usage_log(feature);

-- Enable RLS
ALTER TABLE public.credit_usage_log ENABLE ROW LEVEL SECURITY;

-- Create RLS policy
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_policies
    WHERE tablename = 'credit_usage_log'
    AND policyname = 'Users can view own credit usage'
  ) THEN
    CREATE POLICY "Users can view own credit usage"
    ON public.credit_usage_log
    FOR SELECT
    USING (auth.uid() = user_id);
  END IF;
END $$;

-- Grant permissions
GRANT SELECT, INSERT ON public.credit_usage_log TO authenticated;
GRANT SELECT ON public.credit_usage_log TO anon;