-- Create all missing tables for the application

-- User Profiles Table
CREATE TABLE IF NOT EXISTS user_profiles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE UNIQUE,
  full_name TEXT,
  avatar_url TEXT,
  company TEXT,
  website TEXT,
  bio TEXT,
  onboarding_completed BOOLEAN DEFAULT false,
  trial_started_at TIMESTAMPTZ,
  has_used_trial BOOLEAN DEFAULT false,
  preferences JSONB DEFAULT '{}'::jsonb,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- User Subscriptions Table  
CREATE TABLE IF NOT EXISTS user_subscriptions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  plan_id UUID REFERENCES subscription_plans(id),
  stripe_customer_id TEXT,
  stripe_subscription_id TEXT,
  status TEXT DEFAULT 'trialing',
  billing_cycle TEXT DEFAULT 'monthly',
  current_period_start TIMESTAMPTZ,
  current_period_end TIMESTAMPTZ,
  trial_end TIMESTAMPTZ,
  cancel_at_period_end BOOLEAN DEFAULT false,
  canceled_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  is_first_trial BOOLEAN DEFAULT false,
  UNIQUE(user_id)
);

-- User Credits Table
CREATE TABLE IF NOT EXISTS user_credits (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE UNIQUE,
  total_credits INTEGER DEFAULT 0,
  used_credits INTEGER DEFAULT 0,
  available_credits INTEGER GENERATED ALWAYS AS (total_credits - used_credits) STORED,
  last_reset_at TIMESTAMPTZ DEFAULT NOW(),
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Credit Usage History Table
CREATE TABLE IF NOT EXISTS credit_usage_history (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  feature TEXT NOT NULL,
  credits_used INTEGER NOT NULL,
  metadata JSONB DEFAULT '{}'::jsonb,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- User Activity Log Table
CREATE TABLE IF NOT EXISTS user_activity_log (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  action TEXT NOT NULL,
  details JSONB DEFAULT '{}'::jsonb,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Usage Meters Table
CREATE TABLE IF NOT EXISTS usage_meters (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  meter_date DATE NOT NULL,
  tracked_keywords INTEGER DEFAULT 0,
  crawled_urls INTEGER DEFAULT 0,
  briefs_generated INTEGER DEFAULT 0,
  reports_rendered INTEGER DEFAULT 0,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(user_id, meter_date)
);

-- Enable RLS on all tables
ALTER TABLE user_profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_subscriptions ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_credits ENABLE ROW LEVEL SECURITY;
ALTER TABLE credit_usage_history ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_activity_log ENABLE ROW LEVEL SECURITY;
ALTER TABLE usage_meters ENABLE ROW LEVEL SECURITY;

-- Create RLS policies
CREATE POLICY \
Users
can
view
own
profile\ ON user_profiles FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY \Users
can
update
own
profile\ ON user_profiles FOR UPDATE USING (auth.uid() = user_id);
CREATE POLICY \Users
can
insert
own
profile\ ON user_profiles FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY \Users
can
view
own
subscription\ ON user_subscriptions FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY \Users
can
update
own
subscription\ ON user_subscriptions FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY \Users
can
view
own
credits\ ON user_credits FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY \Users
can
update
own
credits\ ON user_credits FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY \Users
can
view
own
credit
usage\ ON credit_usage_history FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY \Users
can
view
own
activity\ ON user_activity_log FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY \Users
can
view
own
usage
meters\ ON usage_meters FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY \Users
can
insert
own
usage
meters\ ON usage_meters FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY \Users
can
update
own
usage
meters\ ON usage_meters FOR UPDATE USING (auth.uid() = user_id);

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_user_profiles_user_id ON user_profiles(user_id);
CREATE INDEX IF NOT EXISTS idx_user_subscriptions_user_id ON user_subscriptions(user_id);
CREATE INDEX IF NOT EXISTS idx_user_credits_user_id ON user_credits(user_id);
CREATE INDEX IF NOT EXISTS idx_credit_usage_history_user_id ON credit_usage_history(user_id);
CREATE INDEX IF NOT EXISTS idx_credit_usage_history_created_at ON credit_usage_history(created_at);
CREATE INDEX IF NOT EXISTS idx_user_activity_log_user_id ON user_activity_log(user_id);
CREATE INDEX IF NOT EXISTS idx_user_activity_log_created_at ON user_activity_log(created_at);
CREATE INDEX IF NOT EXISTS idx_usage_meters_user_id ON usage_meters(user_id);
CREATE INDEX IF NOT EXISTS idx_usage_meters_date ON usage_meters(meter_date);
