-- Check if trigger exists and what function it calls
SELECT 
  trigger_name,
  event_object_table,
  event_manipulation,
  action_statement,
  action_timing
FROM information_schema.triggers 
WHERE trigger_name = 'on_auth_user_created';

-- Check if the handle_new_user function exists
SELECT 
  routine_name,
  routine_schema,
  routine_type,
  data_type
FROM information_schema.routines 
WHERE routine_name = 'handle_new_user' 
AND routine_schema = 'public';

-- Test the function logic manually
SELECT 
  'Function should assign Launch plan to new users' as test_note,
  CASE WHEN EXISTS (SELECT 1 FROM subscription_plans WHERE name = 'Launch' AND is_active = true)
       THEN 'Launch plan exists' ELSE 'Launch plan MISSING' END as launch_check,
  CASE WHEN EXISTS (SELECT 1 FROM subscription_plans WHERE name = 'Free' AND is_active = true)  
       THEN 'Free plan exists' ELSE 'Free plan MISSING' END as free_check;
