-- Test the handle_new_user function manually for this user
-- This will simulate what happens on signup

SELECT 
  u.id, 
  u.email,
  -- Check if user already has subscription
  CASE WHEN EXISTS (SELECT 1 FROM public.user_subscriptions WHERE user_id = u.id) 
       THEN 'HAS_SUBSCRIPTION' ELSE 'NO_SUBSCRIPTION' END as subscription_check,
  -- Check if user used trial before  
  COALESCE(up.has_used_trial, false) as has_used_trial_flag,
  -- Check if Launch plan exists
  CASE WHEN EXISTS (SELECT 1 FROM public.subscription_plans WHERE name = 'Launch' AND is_active = true)
       THEN 'LAUNCH_EXISTS' ELSE 'LAUNCH_MISSING' END as launch_plan_check
FROM auth.users u
LEFT JOIN public.user_profiles up ON u.id = up.user_id
WHERE u.email = 'greececycladesgr@gmail.com';
