-- Check subscription_plans table structure and data
SELECT column_name, data_type, is_nullable, column_default
FROM information_schema.columns 
WHERE table_name = 'subscription_plans' 
AND table_schema = 'public'
ORDER BY ordinal_position;

-- Check what data exists in the table
SELECT name, stripe_product_id, stripe_price_id_monthly, stripe_price_id_yearly, 
       credits_per_month, is_active, sort_order
FROM subscription_plans 
ORDER BY name;

-- Test the exact query that's failing
SELECT * 
FROM subscription_plans 
WHERE is_active = true 
AND name IN ('Launch', 'Growth', 'Agency', 'Scale')
ORDER BY sort_order ASC;
