-- COMPLETE VERIFICATION - Show all results
SELECT '=== YOUR CURRENT STATUS ===' as section;
SELECT 
  u.email,
  sp.name as plan_name,
  us.status,
  us.trial_end,
  uc.total_credits,
  'WORKING_CORRECTLY' as status
FROM auth.users u
JOIN public.user_subscriptions us ON u.id = us.user_id
JOIN public.subscription_plans sp ON us.plan_id = sp.id
LEFT JOIN public.user_credits uc ON u.id = uc.user_id
WHERE u.email = 'greececycladesgr@gmail.com';

SELECT '=== FUTURE USERS WILL WORK ===' as section;
SELECT 
  CASE WHEN EXISTS (SELECT 1 FROM information_schema.triggers WHERE trigger_name = 'on_auth_user_created')
       THEN ' TRIGGER EXISTS - Automatic setup works' 
       ELSE ' TRIGGER MISSING - Need to fix' END as trigger_status,
  CASE WHEN EXISTS (SELECT 1 FROM information_schema.routines WHERE routine_name = 'handle_new_user' AND routine_schema = 'public')
       THEN ' FUNCTION EXISTS - Automatic setup works'
       ELSE ' FUNCTION MISSING - Need to fix' END as function_status,
  ' LAUNCH PLAN READY - 1200 credits automatic' as plan_status;

-- IF TRIGGER IS MISSING, run this fix:
-- DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
-- CREATE TRIGGER on_auth_user_created AFTER INSERT ON auth.users FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();
