-- FINAL COMPLETE DIAGNOSTIC - Run this and show ALL results
-- This will tell us exactly what's broken

-- 1. TRIGGER CHECK
SELECT '=== TRIGGER STATUS ===' as section;
SELECT 
  CASE WHEN EXISTS (
    SELECT 1 FROM information_schema.triggers 
    WHERE trigger_name = 'on_auth_user_created'
  ) THEN 'TRIGGER_EXISTS' ELSE 'TRIGGER_MISSING' END as trigger_status,
  trigger_name,
  event_object_table,
  action_statement
FROM information_schema.triggers 
WHERE trigger_name = 'on_auth_user_created';

-- 2. FUNCTION CHECK  
SELECT '=== FUNCTION STATUS ===' as section;
SELECT 
  CASE WHEN EXISTS (
    SELECT 1 FROM information_schema.routines 
    WHERE routine_name = 'handle_new_user' AND routine_schema = 'public'
  ) THEN 'FUNCTION_EXISTS' ELSE 'FUNCTION_MISSING' END as function_status,
  routine_name,
  routine_schema
FROM information_schema.routines 
WHERE routine_name = 'handle_new_user' 
AND routine_schema = 'public';

-- 3. PLANS CHECK
SELECT '=== PLANS STATUS ===' as section;
SELECT 
  CASE WHEN EXISTS (SELECT 1 FROM subscription_plans WHERE name = 'Launch' AND is_active = true)
       THEN 'Launch plan OK' ELSE 'Launch plan BROKEN' END as launch_status,
  CASE WHEN EXISTS (SELECT 1 FROM subscription_plans WHERE name = 'Free' AND is_active = true)  
       THEN 'Free plan OK' ELSE 'Free plan BROKEN' END as free_status;

-- 4. WHAT HAPPENED TO YOUR ACCOUNT
SELECT '=== YOUR ACCOUNT ANALYSIS ===' as section;
SELECT 
  u.email,
  CASE WHEN us.id IS NOT NULL THEN 'HAS_SUBSCRIPTION' ELSE 'NO_SUBSCRIPTION' END as subscription_status,
  CASE WHEN up.has_used_trial IS NULL THEN 'NULL (should get Launch)' 
       WHEN up.has_used_trial = false THEN 'FALSE (should get Launch)' 
       ELSE 'TRUE (gets Free)' END as trial_status,
  COALESCE(sp.name, 'NO_PLAN') as assigned_plan,
  COALESCE(uc.total_credits, 0) as credits_allocated
FROM auth.users u
LEFT JOIN public.user_subscriptions us ON u.id = us.user_id
LEFT JOIN public.subscription_plans sp ON us.plan_id = sp.id
LEFT JOIN public.user_profiles up ON u.id = up.user_id
LEFT JOIN public.user_credits uc ON u.id = uc.user_id
WHERE u.email = 'greececycladesgr@gmail.com';
