-- Fix RLS policies to be more permissive for debugging

-- Drop existing policies and recreate them
DROP POLICY IF EXISTS \
Users
can
view
own
credits\ ON user_credits;
DROP POLICY IF EXISTS \Users
can
update
own
credits\ ON user_credits;

-- Create more permissive policies for testing
CREATE POLICY \Allow
all
operations
on
user_credits\ ON user_credits
  FOR ALL USING (true) WITH CHECK (true);

-- Do the same for other tables
DROP POLICY IF EXISTS \Users
can
view
own
profile\ ON user_profiles;
DROP POLICY IF EXISTS \Users
can
update
own
profile\ ON user_profiles;  
DROP POLICY IF EXISTS \Users
can
insert
own
profile\ ON user_profiles;

CREATE POLICY \Allow
all
operations
on
user_profiles\ ON user_profiles
  FOR ALL USING (true) WITH CHECK (true);

DROP POLICY IF EXISTS \Users
can
view
own
subscription\ ON user_subscriptions;
DROP POLICY IF EXISTS \Users
can
update
own
subscription\ ON user_subscriptions;

CREATE POLICY \Allow
all
operations
on
user_subscriptions\ ON user_subscriptions
  FOR ALL USING (true) WITH CHECK (true);

-- Temporarily disable RLS to test
ALTER TABLE user_credits DISABLE ROW LEVEL SECURITY;
ALTER TABLE user_profiles DISABLE ROW LEVEL SECURITY;
ALTER TABLE user_subscriptions DISABLE ROW LEVEL SECURITY;
ALTER TABLE credit_usage_history DISABLE ROW LEVEL SECURITY;
ALTER TABLE user_activity_log DISABLE ROW LEVEL SECURITY;
ALTER TABLE usage_meters DISABLE ROW LEVEL SECURITY;
