-- Add missing sort_order column and set proper ordering
ALTER TABLE subscription_plans 
ADD COLUMN IF NOT EXISTS sort_order INTEGER DEFAULT 0;

-- Set proper sort order for plans (Free=0, Launch=1, Growth=2, Agency=3, Scale=4)
UPDATE subscription_plans SET sort_order = 0 WHERE name = 'Free';
UPDATE subscription_plans SET sort_order = 1 WHERE name = 'Launch';
UPDATE subscription_plans SET sort_order = 2 WHERE name = 'Growth';
UPDATE subscription_plans SET sort_order = 3 WHERE name = 'Agency';
UPDATE subscription_plans SET sort_order = 4 WHERE name = 'Scale';

-- Verify the table structure and data
SELECT column_name, data_type, is_nullable
FROM information_schema.columns 
WHERE table_name = 'subscription_plans' 
AND table_schema = 'public'
ORDER BY ordinal_position;

-- Test the exact query that was failing
SELECT name, sort_order, is_active, credits_per_month 
FROM subscription_plans 
WHERE is_active = true 
AND name IN ('Launch', 'Growth', 'Agency', 'Scale')
ORDER BY sort_order ASC;
