-- Fix the critical missing credits_per_month values
UPDATE subscription_plans SET credits_per_month = 1200 WHERE name = 'Launch';
UPDATE subscription_plans SET credits_per_month = 6000 WHERE name = 'Growth'; 
UPDATE subscription_plans SET credits_per_month = 20000 WHERE name = 'Agency';
UPDATE subscription_plans SET credits_per_month = 100 WHERE name = 'Free';

-- Verify the fixes
SELECT name, credits_per_month FROM subscription_plans ORDER BY name;
