-- FIX: Ensure trigger and function work properly for future signups

-- Step 1: Drop any existing trigger
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;

-- Step 2: Recreate the trigger properly
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_new_user();

-- Step 3: Verify trigger was created
SELECT 
  'TRIGGER_CREATED' as status,
  trigger_name,
  event_object_table,
  action_statement
FROM information_schema.triggers 
WHERE trigger_name = 'on_auth_user_created';

-- Step 4: Test function exists and can find plans
SELECT 
  'FUNCTION_READY' as status,
  CASE WHEN EXISTS (SELECT 1 FROM subscription_plans WHERE name = 'Launch' AND is_active = true)
       THEN 'Launch plan ready' ELSE 'Launch plan PROBLEM' END as launch_status,
  CASE WHEN EXISTS (SELECT 1 FROM subscription_plans WHERE name = 'Free' AND is_active = true)  
       THEN 'Free plan ready' ELSE 'Free plan PROBLEM' END as free_status;
