-- Recreate the trigger to ensure it calls the correct function
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_new_user();

-- Test if the function exists and works
SELECT 
  routine_name,
  routine_schema,
  routine_type
FROM information_schema.routines 
WHERE routine_name = 'handle_new_user' 
AND routine_schema = 'public';

-- Check if Launch plan exists
SELECT id, name, credits_per_month 
FROM subscription_plans 
WHERE name = 'Launch' AND is_active = true;
