-- IMMEDIATE FIX: Give user proper Launch trial (1200 credits)

-- Step 1: Delete current Free plan assignment
DELETE FROM public.user_subscriptions WHERE user_id = '727917dd-e5af-4ec8-a1e1-ad5ea156d38f';
DELETE FROM public.user_credits WHERE user_id = '727917dd-e5af-4ec8-a1e1-ad5ea156d38f';

-- Step 2: Assign proper Launch plan trial  
INSERT INTO public.user_subscriptions (
  user_id,
  plan_id,
  status,
  billing_cycle,
  current_period_start,
  current_period_end,
  trial_end,
  cancel_at_period_end,
  is_first_trial
) VALUES (
  '727917dd-e5af-4ec8-a1e1-ad5ea156d38f',
  (SELECT id FROM subscription_plans WHERE name = 'Launch'),
  'trialing',
  'monthly',
  NOW(),
  NOW() + INTERVAL '7 days',
  NOW() + INTERVAL '7 days',
  false,
  true
);

-- Step 3: Assign proper credits
INSERT INTO public.user_credits (user_id, total_credits, used_credits) 
VALUES ('727917dd-e5af-4ec8-a1e1-ad5ea156d38f', 1200, 0);

-- Step 4: Update profile to show trial started
UPDATE public.user_profiles 
SET has_used_trial = false, trial_started_at = NOW()
WHERE user_id = '727917dd-e5af-4ec8-a1e1-ad5ea156d38f';

-- Step 5: Verify the fix worked
SELECT 
  'SUCCESS' as status,
  sp.name as plan_name,
  sp.credits_per_month as plan_credits,
  us.status as subscription_status,
  us.trial_end,
  uc.total_credits as credits_allocated,
  uc.available_credits as credits_available
FROM user_subscriptions us
JOIN subscription_plans sp ON us.plan_id = sp.id
LEFT JOIN user_credits uc ON us.user_id = uc.user_id
WHERE us.user_id = '727917dd-e5af-4ec8-a1e1-ad5ea156d38f';
