-- FIX: Recreate the missing trigger and function for automatic signup

-- First, ensure the handle_new_user function exists (recreate if needed)
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger AS \$\$
DECLARE
  starter_plan_id uuid;
  existing_subscription uuid;
  already_used_trial boolean;
  free_plan_id uuid;
BEGIN
  -- Check if user already has a subscription (prevents duplicate trials)
  SELECT id INTO existing_subscription
  FROM public.user_subscriptions
  WHERE user_id = NEW.id
  LIMIT 1;

  -- If user already has a subscription, skip (user is re-signing in)
  IF existing_subscription IS NOT NULL THEN
    RETURN NEW;
  END IF;

  -- Check if user already used trial
  SELECT COALESCE(has_used_trial, false) INTO already_used_trial
  FROM public.user_profiles
  WHERE user_id = NEW.id
  LIMIT 1;

  -- If user already used trial, assign Free plan
  IF already_used_trial THEN
    SELECT id INTO free_plan_id
    FROM public.subscription_plans
    WHERE name = 'Free' AND is_active = true
    LIMIT 1;

    IF free_plan_id IS NOT NULL THEN
      INSERT INTO public.user_subscriptions (
        user_id,
        plan_id,
        status,
        billing_cycle,
        current_period_start,
        current_period_end,
        trial_end,
        cancel_at_period_end
      ) VALUES (
        NEW.id,
        free_plan_id,
        'active',
        'monthly',
        NOW(),
        NOW() + INTERVAL '1 year',
        NULL,
        false
      )
      ON CONFLICT (user_id) DO NOTHING;

      INSERT INTO public.user_credits (
        user_id,
        total_credits,
        used_credits
      ) VALUES (
        NEW.id,
        100,
        0
      )
      ON CONFLICT (user_id) DO NOTHING;
    END IF;

    RETURN NEW;
  END IF;

  -- Get Launch plan ID for first-time users
  SELECT id INTO starter_plan_id
  FROM public.subscription_plans
  WHERE name = 'Launch' AND is_active = true
  LIMIT 1;

  -- If Launch plan exists, create 7-day trial
  IF starter_plan_id IS NOT NULL THEN
    -- Create 7-day trial subscription
    INSERT INTO public.user_subscriptions (
      user_id,
      plan_id,
      status,
      billing_cycle,
      current_period_start,
      current_period_end,
      trial_end,
      cancel_at_period_end,
      is_first_trial
    ) VALUES (
      NEW.id,
      starter_plan_id,
      'trialing',
      'monthly',
      NOW(),
      NOW() + INTERVAL '7 days',
      NOW() + INTERVAL '7 days',
      false,
      true
    )
    ON CONFLICT (user_id) DO NOTHING;

    -- Allocate credits
    INSERT INTO public.user_credits (
      user_id,
      total_credits,
      used_credits
    ) VALUES (
      NEW.id,
      1200,
      0
    )
    ON CONFLICT (user_id) DO NOTHING;

    -- Update profile to track trial usage
    INSERT INTO public.user_profiles (
      user_id,
      has_used_trial,
      trial_started_at
    ) VALUES (
      NEW.id,
      false,
      NOW()
    )
    ON CONFLICT (user_id) DO UPDATE SET
      has_used_trial = false,
      trial_started_at = NOW();
  END IF;

  RETURN NEW;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create the trigger that calls the function on user signup
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_new_user();

-- Verify everything is working
SELECT 
  'SETUP_COMPLETE' as status,
  CASE WHEN EXISTS (SELECT 1 FROM information_schema.triggers WHERE trigger_name = 'on_auth_user_created')
       THEN ' TRIGGER EXISTS' ELSE ' TRIGGER MISSING' END as trigger_check,
  CASE WHEN EXISTS (SELECT 1 FROM information_schema.routines WHERE routine_name = 'handle_new_user' AND routine_schema = 'public')
       THEN ' FUNCTION EXISTS' ELSE ' FUNCTION MISSING' END as function_check,
  CASE WHEN EXISTS (SELECT 1 FROM subscription_plans WHERE name = 'Launch' AND is_active = true AND credits_per_month = 1200)
       THEN ' LAUNCH PLAN READY' ELSE ' PLAN ISSUE' END as plan_check;
