-- FORCE disable all RLS and remove all policies

-- Drop ALL existing policies first
DO \$\$
DECLARE
    pol record;
BEGIN
    FOR pol IN 
        SELECT schemaname, tablename, policyname 
        FROM pg_policies 
        WHERE schemaname = 'public' 
        AND tablename IN ('user_credits', 'user_profiles', 'user_subscriptions', 'stripe_customers', 'subscription_plans', 'credit_usage_history', 'user_activity_log', 'usage_meters')
    LOOP
        EXECUTE format('DROP POLICY IF EXISTS %I ON %I.%I', pol.policyname, pol.schemaname, pol.tablename);
    END LOOP;
END
\$\$;

-- Force disable RLS on ALL tables
ALTER TABLE user_credits DISABLE ROW LEVEL SECURITY;
ALTER TABLE user_profiles DISABLE ROW LEVEL SECURITY;
ALTER TABLE user_subscriptions DISABLE ROW LEVEL SECURITY;
ALTER TABLE stripe_customers DISABLE ROW LEVEL SECURITY;
ALTER TABLE subscription_plans DISABLE ROW LEVEL SECURITY;
ALTER TABLE credit_usage_history DISABLE ROW LEVEL SECURITY;
ALTER TABLE user_activity_log DISABLE ROW LEVEL SECURITY;
ALTER TABLE usage_meters DISABLE ROW LEVEL SECURITY;

-- Verify RLS is disabled
SELECT 
    tablename,
    CASE WHEN rowsecurity THEN 'RLS_ENABLED' ELSE 'RLS_DISABLED' END as rls_status
FROM pg_tables 
WHERE schemaname = 'public' 
AND tablename IN ('user_credits', 'user_profiles', 'user_subscriptions', 'stripe_customers', 'subscription_plans')
ORDER BY tablename;
