-- IMMEDIATE FIX: Give you proper Launch trial instead of Free plan

-- Get your user ID first
SELECT id FROM auth.users WHERE email = 'greececycladesgr@gmail.com';

-- Then run these commands (replace YOUR_USER_ID_HERE with the ID from above)

-- Step 1: Delete current Free plan assignment
DELETE FROM public.user_subscriptions WHERE user_id = 'YOUR_USER_ID_HERE';
DELETE FROM public.user_credits WHERE user_id = 'YOUR_USER_ID_HERE';

-- Step 2: Assign proper Launch plan trial  
INSERT INTO public.user_subscriptions (
  user_id,
  plan_id,
  status,
  billing_cycle,
  current_period_start,
  current_period_end,
  trial_end,
  cancel_at_period_end,
  is_first_trial
) VALUES (
  'YOUR_USER_ID_HERE',
  (SELECT id FROM subscription_plans WHERE name = 'Launch'),
  'trialing',
  'monthly',
  NOW(),
  NOW() + INTERVAL '7 days',
  NOW() + INTERVAL '7 days',
  false,
  true
);

-- Step 3: Assign proper credits
INSERT INTO public.user_credits (user_id, total_credits, used_credits) 
VALUES ('YOUR_USER_ID_HERE', 1200, 0);

-- Step 4: Update profile to show trial started
UPDATE public.user_profiles 
SET has_used_trial = false, trial_started_at = NOW()
WHERE user_id = 'YOUR_USER_ID_HERE';

-- Step 5: Verify the fix
SELECT 
  sp.name as plan_name,
  sp.credits_per_month,
  us.status,
  us.trial_end,
  uc.total_credits
FROM user_subscriptions us
JOIN subscription_plans sp ON us.plan_id = sp.id
LEFT JOIN user_credits uc ON us.user_id = uc.user_id
WHERE us.user_id = 'YOUR_USER_ID_HERE';
