-- Manually assign Launch trial to existing user
-- This will give you the proper 1200 credits instead of 100

-- Get user ID
SELECT id FROM auth.users WHERE email = 'greececycladesgr@gmail.com';

-- Then replace YOUR_USER_ID_HERE with the actual ID and run:
-- (Don't run this yet - first check the diagnostic above)

-- Delete current Free plan assignment
-- DELETE FROM public.user_subscriptions WHERE user_id = 'YOUR_USER_ID_HERE';
-- DELETE FROM public.user_credits WHERE user_id = 'YOUR_USER_ID_HERE';

-- Assign Launch plan trial
-- INSERT INTO public.user_subscriptions (
--   user_id,
--   plan_id,
--   status,
--   billing_cycle,
--   current_period_start,
--   current_period_end,
--   trial_end,
--   cancel_at_period_end,
--   is_first_trial
-- ) VALUES (
--   'YOUR_USER_ID_HERE',
--   (SELECT id FROM subscription_plans WHERE name = 'Launch'),
--   'trialing',
--   'monthly',
--   NOW(),
--   NOW() + INTERVAL '7 days',
--   NOW() + INTERVAL '7 days',
--   false,
--   true
-- );

-- Assign proper credits
-- INSERT INTO public.user_credits (user_id, total_credits, used_credits) 
-- VALUES ('YOUR_USER_ID_HERE', 1200, 0);

-- Update profile
-- UPDATE public.user_profiles 
-- SET has_used_trial = false, trial_started_at = NOW()
-- WHERE user_id = 'YOUR_USER_ID_HERE';
