-- Manual trigger for testing (replace USER_ID with actual ID)
-- DO NOT RUN THIS unless you want to manually test the function

-- First get the user ID:
-- SELECT id FROM auth.users WHERE email = 'greececycladesgr@gmail.com';

-- Then manually call the function (replace YOUR_USER_ID_HERE):
-- SELECT public.handle_new_user() as function_result;

-- This is for debugging only - the real issue is why the trigger didn't fire properly
