-- Reset user for fresh trial (CAUTION: This will delete existing data)
-- Only run this if you want to test the signup flow again

-- Delete existing user data (optional - uncomment if you want to reset)
-- DELETE FROM public.user_subscriptions WHERE user_id = (SELECT id FROM auth.users WHERE email = 'greececycladesgr@gmail.com');
-- DELETE FROM public.user_credits WHERE user_id = (SELECT id FROM auth.users WHERE email = 'greececycladesgr@gmail.com');  
-- DELETE FROM public.user_profiles WHERE user_id = (SELECT id FROM auth.users WHERE email = 'greececycladesgr@gmail.com');

-- Then update user profile to reset trial flag
-- UPDATE public.user_profiles 
-- SET has_used_trial = false, trial_started_at = NULL
-- WHERE user_id = (SELECT id FROM auth.users WHERE email = 'greececycladesgr@gmail.com');
