-- Check if RLS is properly disabled and test table access
SELECT schemaname, tablename, rowsecurity 
FROM pg_tables 
WHERE tablename IN ('user_credits', 'user_profiles', 'user_subscriptions', 'stripe_customers', 'subscription_plans')
ORDER BY tablename;

-- Test if we can select from tables (should work if RLS is disabled)
SELECT COUNT(*) as user_credits_count FROM user_credits;
SELECT COUNT(*) as user_profiles_count FROM user_profiles;
SELECT COUNT(*) as user_subscriptions_count FROM user_subscriptions;
SELECT COUNT(*) as stripe_customers_count FROM stripe_customers;
SELECT COUNT(*) as subscription_plans_count FROM subscription_plans;
