-- Test the handle_new_user function with a mock user
-- This simulates what should happen on signup

-- Create a test scenario (don't run this on production)
-- The function should:
-- 1. Check if user has existing subscription (should be NONE for new user)
-- 2. Check if has_used_trial is true (should be false/null for new user)  
-- 3. Assign Launch plan with 1200 credits and 7-day trial

-- Simulate the function logic for your user
SELECT 
  'SIMULATION' as test_type,
  u.email,
  -- What the function checks:
  CASE WHEN EXISTS (SELECT 1 FROM public.user_subscriptions WHERE user_id = u.id) 
       THEN 'SKIP - User has subscription' ELSE 'OK - No existing subscription' END as subscription_check,
       
  COALESCE(up.has_used_trial, false) as has_used_trial,
  CASE WHEN COALESCE(up.has_used_trial, false) = false THEN 'ASSIGN LAUNCH PLAN (1200 credits)' 
       ELSE 'ASSIGN FREE PLAN (100 credits)' END as action_taken,
       
  -- Plan details
  sp.name as assigned_plan,
  sp.credits_per_month as credits_should_get
FROM auth.users u
LEFT JOIN public.user_profiles up ON u.id = up.user_id
LEFT JOIN public.user_subscriptions us ON u.id = us.user_id
LEFT JOIN public.subscription_plans sp ON us.plan_id = sp.id
WHERE u.email = 'greececycladesgr@gmail.com';
