-- Verify your current setup is correct
SELECT 
  'CURRENT_STATUS' as check_type,
  u.email,
  sp.name as plan_name,
  sp.credits_per_month as plan_credits,
  us.status as subscription_status,
  us.trial_end,
  us.is_first_trial,
  uc.total_credits as credits_total,
  uc.available_credits as credits_available,
  CASE WHEN us.trial_end > NOW() THEN 'TRIAL_ACTIVE' ELSE 'TRIAL_EXPIRED' END as trial_status
FROM auth.users u
JOIN public.user_subscriptions us ON u.id = us.user_id
JOIN public.subscription_plans sp ON us.plan_id = sp.id
LEFT JOIN public.user_credits uc ON u.id = uc.user_id
WHERE u.email = 'greececycladesgr@gmail.com';

-- Now let's ensure future signups work automatically
SELECT '=== FUTURE USERS SETUP ===' as section;

-- Check trigger exists
SELECT 
  CASE WHEN EXISTS (SELECT 1 FROM information_schema.triggers WHERE trigger_name = 'on_auth_user_created')
       THEN 'TRIGGER_EXISTS - Future signups will work' 
       ELSE 'TRIGGER_MISSING - Need to fix' END as trigger_check;

-- Check function exists       
SELECT 
  CASE WHEN EXISTS (SELECT 1 FROM information_schema.routines WHERE routine_name = 'handle_new_user' AND routine_schema = 'public')
       THEN 'FUNCTION_EXISTS - Future signups will work'
       ELSE 'FUNCTION_MISSING - Need to fix' END as function_check;

-- Check plans are ready
SELECT 
  CASE WHEN EXISTS (SELECT 1 FROM subscription_plans WHERE name = 'Launch' AND is_active = true AND credits_per_month = 1200)
       THEN 'LAUNCH_PLAN_READY - Future users get 1200 credits'
       ELSE 'LAUNCH_PLAN_ISSUE - Need to fix' END as plan_check;
